
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #532f1c;
}

.container {
  position: absolute;
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  border: 1px solid #3c1400;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}



#sign {
  width: 162px;
  left: 82px;
  top: 216px;
}

#bar {
  width: 291px;
  left: 15px;
  top: 119px;
}


#txt01-1 {
  width: 280px;
  left: 22px;
  top: 24px;
}
#txt01-2 {
  width: 275px;
  left: 22px;
  top: 63px;
}

.bg {
  background-color: #3c1400;
  width: 320px;
  height: 480px;
}

#btn {
  width: 290px;
  left: 15px;
  top: 395px;
}


#frame {
  width: 192px;
  left: 64px;
  top: 136px;
}

#txt02-1 {
  width: 186px;
  left: 67px;
  top: 22px;
}
#txt02-2 {
  width: 258px;
  left: 31px;
  top: 328px;
}

#txt03 {
  width: 254px;
  left: 33px;
  top: 97px;
}



#phone {
  width: 194px;
  left: 25px;
  top: 143px;
}
#pods {
  width: 152px;
  left: 146px;
  top: 186px;
}

#logo {
  width: 212px;
  left: 53px;
  top: 20px;
  transform: scale(0.96) rotate(-3deg) translateY(160px) translateX(-16px);
}

#schirm {
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  opacity: 0;
}